.animate__animated.animate__fadeInUp {
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}
.animate__animated.animate__fadeOutDown {
    animation: fadeOutDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

.textbox{
    width: 90%;
    height: 32%;
    position: relative;
    bottom: -15%;
    left: 4.5%;
    z-index: 300;
    background-image: url("../../public/assets/pictures/textbox.PNG");
    background-repeat: no-repeat;
    background-size: contain;

    &__texto{
        color: white;
        font-size: 70%;
        text-align: start;
        padding-left: 5%;
        padding-top: 4%;
    }

    &__textbox{
        width: 85%;
    }
}